<header>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a href="/home" class="nav-link 
                {% if index %}active{% endif %}">Home</a></li>
            <li class="nav-item">
                <a href="/view" class="nav-link 
                {% if view %}active{% endif %}">Prediction History</a></li>
            <li class="nav-item">
                <a href="/logout" class="nav-link btn btn-danger" method="GET">
                    Logout</a></li>
    
        </ul>
    </nav>
</header>
